


<!DOCTYPE html>
<html lang="en">


<body>
<header class="navbar">

Please input your current blood pressure level: </br>
    <form method = "post">
      <label for="syspre">Systolic pressure (in mm Hg):</label><br>
      <input type="number" id="syspre" name="syspre"><br>
      <label for="diapre">Diastolic pressure (in mm Hg):</label><br>
      <input type="number" id="diapre" name="diapre">
    

</br></br>
Please input your weight, height and number of babies for calculation: </br>
    
      <label for="b4weight">Weight before pregnancy (in kg):</label><br>
      <input type="number" id="b4weight" name="b4weight"><br>
      <label for="curweight">Current weight (in kg):</label><br>
      <input type="number" id="curweight" name="curweight"><br>
      <label for="height">Height (in cm):</label><br>
      <input type="number" id="height" name="height"><br>
      <label for="cntbb">Number of babies (count):</label><br>
      <input type="number" id="cntbb" name="cntbb"><br><br>
      <input type="submit" name = "submit" value = "Submit">
    </form>



<!-- {% if b4weight %}
<h1>{{ b4weight }}</h1>
{% endif %} -->
</header>

</body>
</html>
